@import url(/fontiran.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    &,
    &.light-mode {
      --background-app-rgb: 255, 255, 255;
      --color-primary-900: 4, 47, 26;
      --color-primary-800: 20, 103, 60;
      --color-primary-700: 19, 130, 71;
      --color-primary-600: 19, 166, 87;
      --color-primary-500: 30, 201, 109;
      --color-primary-400: 74, 226, 144;
      --color-primary-300: 132, 241, 181;
      --color-primary-200: 186, 248, 214;
      --color-primary-100: 219, 253, 234;
      --color-primary-50: 240, 253, 245;
      --color-secondary-900: 17, 24, 39;
      --color-secondary-800: 31, 41, 55;
      --color-secondary-700: 55, 65, 81;
      --color-secondary-600: 75, 85, 99;
      --color-secondary-500: 107, 114, 128;
      --color-secondary-400: 156, 163, 175;
      --color-secondary-300: 209, 213, 219;
      --color-secondary-200: 229, 231, 235;
      --color-secondary-100: 243, 244, 246;
      --color-secondary-50: 249, 250, 251;
      --color-secondary-0: 255, 255, 255;
      --color-success: 0, 192, 115;
      --color-warning: 255, 153, 0;
      --color-error: 255, 71, 87;
      --color-red-500: 239, 68, 68;
      --color-red-300: 252, 165, 165;
    }
    &.dark-mode {
      --color-secondary-900: 249, 250, 251;
      --color-secondary-800: 243, 244, 246;
      --color-secondary-700: 229, 231, 235;
      --color-secondary-600: 209, 213, 219;
      --color-secondary-500: 156, 163, 175;
      --color-secondary-400: 107, 114, 128;
      --color-secondary-300: 75, 85, 99;
      --color-secondary-200: 55, 65, 81;
      --color-secondary-100: 31, 41, 55;
      --color-secondary-50: 17, 24, 39;
      --color-secondary-0: 24, 33, 47;
      --backdrop-color: 0, 0, 0;
    }
  }
  body {
    @apply text-neutral-400 bg-[#f5f5f5];
    user-select: none;
    outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-900;
  }
  .h1 {
    @apply text-[32px] leading-[40px] lg:text-[60px] lg:leading-[62px] font-extrabold;
  }
  .h2 {
    @apply text-[28px] leading-[40px] lg:text-[50px] lg:leading-[50px] font-extrabold;
  }
  .h3 {
    @apply text-[24px] leading-[46px] font-extrabold;
  }
  .h4 {
    @apply text-[22px] leading-[46px] font-extrabold;
  }
  .h5 {
    @apply text-[18px] leading-[32px] font-extrabold;
  }
  .h6 {
    @apply text-[14px] leading-[28px] font-bold;
  }
  .text-body-sm {
    @apply font-normal text-[12px] leading-[26px];
  }
  .text-body-md {
    @apply font-normal text-[14px];
  }
  .text-body-lg {
    @apply font-normal text-[20px] leading-[34px];
  }
  .button {
    @apply flex justify-center items-center rounded-[8px];
  }
  .button-sm {
    @apply font-bold uppercase text-[12px] leading-[18px] h-[42px] px-[30px] tracking-[1px];
  }
  .button-lg {
    @apply font-bold uppercase text-[14px] leading-[18px] h-[46px] px-[40px] tracking-[1px];
  }
  .button-primary {
    @apply bg-primary-400 text-neutral-100 hover:bg-primary-400/90 transition;
  }
  .button-secondary {
    @apply bg-white text-neutral-900 hover:bg-white/90 transition;
  }
  .link {
    @apply text-neutral-900 text-sm uppercase font-extrabold tracking-[1px];
  }
  .section {
    @apply pb-[80px] md:pb-[110px] lg:pb-[180px];
  }
  .section-title-group {
    @apply flex items-center justify-center -space-x-20 mb-[50px] lg:mb-[80px];
  }
  .section-title {
    @apply flex space-x-4;
  }
}
@layer components {
  .textInputField {
    @apply w-full py-3 px-4 rounded-xl text-secondary-800 border border-gray-100 hover:border-secondary-400 focus:border-secondary-300  focus:shadow-md focus:shadow-secondary-200 focus:bg-white transition-all duration-300 ease-in-out;
  }
  .btn {
    @apply px-4 py-2 font-bold bg-primary-700 text-white w-full rounded-xl transition-all duration-300 hover:bg-secondary-600 shadow-md shadow-secondary-200;
  }
  .btn--primary {
    @apply px-4 py-3 bg-secondary-800 text-white hover:bg-secondary-800 shadow-lg shadow-secondary-300 dark:shadow-secondary-200;
  }
  .btn--secondary {
    @apply bg-secondary-600 text-secondary-100;
  }
  .btn--outline {
    @apply border border-secondary-700 text-secondary-700;
  }
  .btn--danger {
    @apply border border-rose-700 text-rose-700;
  }
  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }
  .badge--primary {
    @apply bg-primary-900 text-white;
  }
  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600;
  }
  .badge--success {
    @apply bg-green-500 text-white;
  }
  .badge--danger {
    @apply bg-red-500 text-white;
  }
}
.navlink {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff; 
  background-color: #3490dc;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

.navlink.active {
  background-color: transparent; 
}

.navlink.active::before,
.navlink.active::after {
  content: '';
  position: absolute;
  height: 16rem;
  width: 100%;
  border-radius: inherit;
  background-color: #3490dc;
  z-index: -1; 
}

.navlink.active::before {
  top: -0.375rem; 
  left: -0.375rem; 
}

.navlink.active::after {
  bottom: -0.375rem; 
  right: -0.375rem; 
}